<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        BENDUNGAN
    </title>
</head>
<body>

<div>
    <h5>
        ${bendungan.name}
    </h5>
    <br/>

    <div>
        ${bendungan.content}
    </div>
</div>

</body>
</html>
