#ffws {
  margin: 0px 0px 0px 0px;
  padding: 0px 8px 0px 8px;
  border: none;
  background: white; }
  #ffws h3 {
    text-align: left;
    font-family: Signika; }
  #ffws .tab {
    display: block;
    margin: 4px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    background: white;
    text-align: left; }
    #ffws .tab a {
      padding: 4px 8px 4px 8px;
      display: inline-block;
      background: #295876;
      background-image: linear-gradient(to bottom, #295876, #224a63);
      background-repeat: repeat-x;
      border-radius: 4px;
      color: #dddddd;
      text-shadow: 1px -1px 1px black;
      text-align: center;
      min-width: 60px; }
      #ffws .tab a:hover {
        background-image: linear-gradient(to bottom, #295876, #326c90); }
      #ffws .tab a.current {
        color: white;
        background: #295876;
        background-image: linear-gradient(to bottom, #295876, #36749c);
        text-shadow: 1px 1px 1px black; }
  #ffws .items {
    margin-top: 8px; }
    #ffws .items .item {
      margin: 4px 0px 8px 0px;
      padding: 4px 4px 4px 4px;
      border: 0px solid whitesmoke;
      background: white;
      border-radius: 3px;
      vertical-align: top; }
      #ffws .items .item .pos {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid whitesmoke;
        padding: 4px 4px 8px 4px; }
        #ffws .items .item .pos h4 {
          margin: 0px 0px 0px 0px;
          padding: 0px 4px 4px 0px;
          border-bottom: 1px solid whitesmoke;
          font-size: 14px;
          color: #376ea6;
          letter-spacing: 1px;
          display: block;
          text-align: left;
          text-shadow: 2px 1px 1px #eeeeee; }
      #ffws .items .item .chart {
        width: 645px;
        height: 300px;
        background: white;
        display: inline-block;
        margin-left: 6px; }
  #ffws .map {
    padding: 0px 0px 0px 0px; }
    #ffws .map .chart {
      width: 300px;
      height: 200px;
      background: black;
      right: 100px;
      bottom: 100px;
      position: absolute;
      z-index: 999999;
      opacity: 0.6; }

#ffws_map {
  width: 100%;
  margin: 8px 0px 8px 0px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  width: 100%;
  height: 600px;
  z-index: 1000; }

#map_panel {
  border: none;
  background-color: white;
  width: 190px;
  height: 24px;
  font-size: 11px;
  padding: 2px 2px 2px 8px;
  box-shadow: 1px 2px 5px #888888;
  border-radius: 4px;
  border: 1px solid #cccccc; }
  #map_panel span {
    margin-right: 4px; }
  #map_panel select {
    height: 24px;
    width: 160px;
    line-height: 24px;
    font-family: Signika;
    font-size: 12px;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 3px; }
