 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <span>TKPSDA</span> 
        &raquo;
        <a href="#springUrl("/admin/tkpsda/lain_lain/view.html")">Lain-lain</a>
        &raquo;
        <a href="#springUrl("/admin/tkpsda/lain_lain/view/${wilayahSungai.id}.html")">${wilayahSungai.name}</a>
        &raquo;
        <span>Data Tahun</span>
    </title>
</head>
<body>

<div id="tkpsda_misc">
    <div>
            <table class="no_border" style="width: 100%">
                <col style="width: 20px"/>
                <col style="width: 640px;"/>
                <col style="width: 20px"/>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Tahun</th>
                    <th></th>
                </tr>
                </thead>
                #foreach($year in $years)
                    <tr>
                        <td>${velocityCount}.</td>
                        <td>
                             <span class="text_id">
                                 ${year.value}
                             </span>
                        </td>
                        <td>
                            <a href='#springUrl("/admin/tkpsda/lain_lain/view/${wilayahSungai.id}/${year.id}.html")'
                               class='button edit'>
                                pilih &raquo;
                            </a>
                        </td>
                    </tr>
                #end
                <tfoot>
                <tr>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
</body>
</html>
