<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <span>TKPSDA</span>
        &raquo;
        <a href="#springUrl("/admin/tkpsda/lain_lain/view.html")">Lain-lain</a>
        &raquo;
        <a href="#springUrl("/admin/tkpsda/lain_lain/view/${wilayahSungai.id}.html")">${wilayahSungai.name}</a>
        &raquo;
        <a href="#springUrl("/admin/tkpsda/lain_lain/view/${wilayahSungai.id}/${year.id}.html")">${year.value}</a>
        &raquo;
        <a href="#springUrl("/admin/tkpsda/lain_lain/view/${wilayahSungai.id}/${year.id}/${folder.id}.html")">${folder.name}</a>
        &raquo;
        <span>Dokumen</span>
    </title>
</head>
<body>

<div id="misc_document">
    <div>
        <form action="#springUrl("/admin/tkpsda/lain_lain/remove/${wilayahSungai.id}/${year.id}/${folder.id}.html")"
              method="post">
            <table class="no_border" style="width: 100%">
                <col style="width: 20px"/>
                <col style="width: 20px"/>
                <col style="width: 640px;"/>
                <col style="width: 120px"/>
                <col style="width: 120px"/>
                <col style="width: 120px;"/>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>
                        <input type='checkbox' name="ids_all" class="select_all"/>
                    </th>
                    <th>Nama Dokumen</th>
                    <th>Urutan</th>
                    <th>File</th>
                    <th>
                        <a href='#springUrl("/admin/tkpsda/lain_lain/add/${wilayahSungai.id}/${year.id}/${folder.id}.html")'
                           class='button'>
                            baru
                        </a>
                    </th>
                </tr>
                </thead>
                #foreach($document in $documents)
                    <tr>
                        <td>${velocityCount}.</td>
                        <td>
                            <input type='checkbox' name='ids' value='${document.id}'/>
                        </td>
                        <td>
                         <span class="text_id">
                             ${document.name}
                         </span>
                        </td>
                        <td>${document.index}</td>
                        <td>
                            <a href='#springUrl("/download/admin/tkpsda/lain_lain/get/${wilayahSungai.id}/${year.id}/${folder.id}/${document.id}/${document.filename}")'>
                            ${document.filename}
                            </a>
                        </td>
                        <td>
                            <a href='#springUrl("/admin/tkpsda/lain_lain/edit/${wilayahSungai.id}/${year.id}/${folder.id}/${document.id}.html")'
                               class='button edit'>
                                edit
                            </a>

                        </td>
                    </tr>
                #end
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <input type='checkbox' name="ids_all" class="select_all"/>
                    </td>
                    <td colspan="3">
                        <input type="submit" name="remove" value="Hapus"/>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {

        $("#misc_document input[type=checkbox].select_all").click(function () {
            var checked = $(this).prop("checked");
            $("#misc_document table input[type=checkbox]").attr("checked", checked);
        });

    });
    // ]]>
</script>
</body>
</html>
