#macro(paging $pages  $keyword)
<div class="page_index">
    #if ($pages.size() > 0)
        <a href='#springUrl("/admin/sda/sabodam/sungai/page/1.html?keyword=$!{keyword}")'>
            <img src="#springUrl("/images/16x16/go-first.png")" alt="1"/>
        </a>

        #set($prev = $current - 1)
        #if ($prev < 1)
            #set($prev = 1)
        #end
        <a href='#springUrl("/admin/sda/sabodam/sungai/page/${prev}.html?keyword=$!{keyword}")'>
            <img src="#springUrl("/images/16x16/go-previous.png")" alt="${prev}"/>
        </a>

        #foreach($page in $pages)
            #if ($page == $current)
                <a href='#springUrl("/admin/sda/sabodam/sungai/page/${page}.html?keyword=$!{keyword}")'
                   class="current">$page</a>
            #else
                <a href='#springUrl("/admin/sda/sabodam/sungai/page/${page}.html?keyword=$!{keyword}")'
                   class="page">$page</a>
            #end
        #end

        #set($next = $current + 1)
        #if ($next > $last)
            #set($next = $last)
        #end
        <a href='#springUrl("/admin/sda/sabodam/sungai/page/${next}.html?keyword=$!{keyword}")'>
            <img src="#springUrl("/images/16x16/go-next.png")" alt="${next}"/>
        </a>

        <a href='#springUrl("/admin/sda/sabodam/sungai/page/${last}.html?keyword=$!{keyword}")'>
            <img src="#springUrl("/images/16x16/go-last.png")" alt="${last}"/>
        </a>

    #end
</div>
#end<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/16x16/sabodam.png")'/> &nbsp;
        <span>Sungai Sabo Dam</span>
    </title>
</head>
<body>
<div id="sabodam">
    <div style="display: block;">
        <form action='#springUrl("/admin/sda/sabodam/sungai/list.html")'
              style="display: block; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
            Kata kunci:&nbsp;
            <input type='text' name='keyword' value='$!{form.keyword}' class='text'/>
            <input type='submit' value='cari'/>
        </form>
    </div>
    <div>
        <span class="info">
                <img src="#springUrl("/images/16x16/table_row_select.png")"/>
                Ditemukan ${count} data.
        </span>
        #paging($pages, ${form.keyword})
    </div>
    <div>
        <form action="#springUrl("/admin/sda/sabodam/sungai/manage.html")" method="post">
            <table class="no_border">
                <col style="width: 20px"/>
                <col style="width: 20px"/>
                <col style="width: 20px"/>
                <col style="width: 50px"/>
                <col style="width: 780px;"/>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>
                        <input type='checkbox' name="ids_all" class="select_all"/>
                    </th>
                    <th>ID</th>
                    <th>Nama</th>
                    <th></th>
                    <th>
                        <a href='#springUrl("/admin/sda/sabodam/sungai/add.html")' class='button'>
                            baru
                        </a>
                    </th>
                </tr>
                </thead>
                #set($row = $start_row + 1)
                #foreach ($sungai in $sungaiList)
                    <tr>
                        <td>${row}.</td>
                        <td>
                            <input type='checkbox' name='ids' value='${sungai.id}'/>
                        </td>
                        <td>
                         <span class="text_id">
                             ${sungai.id}
                         </span>
                        </td>
                        <td>
                            <img src="#springUrl("/download/admin/sda/sabodam/sungai/${sungai.id}/${sungai.filename}?w=100")"
                                 rel="#springUrl("/download/admin/sda/sabodam/sungai/${sungai.id}/${sungai.filename}")"
                                 class="map"/>
                        </td>
                        <td class="short_content">
                            ${sungai.name}
                        </td>
                       
                        <td>
                            <a href='#springUrl("/admin/sda/sabodam/sungai/edit/${sungai.id}.html")' class='button'>
                                edit
                            </a>
                        </td>
                    </tr>
                    #set($row = $row + 1)
                #end
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <input type='checkbox' name="ids_all" class="select_all"/>
                    </td>
                    <td colspan="5">
                        <input type="hidden" name="keyword" value="$!{form.keyword}"/>
                        <input type="hidden" name="page" value="${current}"/>

                        <input type="submit" name="remove" value="Hapus"/>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
    <div>
        <span class="info">
                <img src="#springUrl("/images/16x16/table_row_select.png")"/>
                Ditemukan ${count} data.
        </span>
        #paging($pages,  ${form.keyword})
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("img.map").tooltip({
            delay:0,
            showURL:false,
            bodyHandler:function () {
                var alt = $(this).attr("rel");
                return $("<img/>").attr("src", alt).css({"max-width": "300px"});
            }
        });

        $("input[type=checkbox].select_all").click(function () {
            var checked = $(this).prop("checked");
            $("#sabodam table input[type=checkbox]").attr("checked", checked);
        });
    });
</script>
</body>
</html>
