<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/16x16/news.png")'/> &nbsp;
        Berita
    </title>
</head>
<body>
<div id="news">
    <div>
        <table style="border-radius: 7px; background: #FCFCFC;">
            <tr>
                <td>Status</td>
                <td>
                    #if ($news.published)
                        PUBLISH
                    #else
                        TIDAK DIPUBLIKASIKAN
                    #end
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tgl Publikasi</td>
                <td>$dateTimeTool.format($news.publishedDate)</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button>Ubah Status</button>
                </td>
            </tr>

        </table>
    </div>
    <div>
        #if($hasTitlePicture)
            #set($display = "inline")
        #else
            #set($display = "none")
        #end
        <div>
            <div style="display: inline-block; float: left; text-align: center;">
                <img id="photo_title" src='#springUrl("/news/thumb/${news.id}.html?width=70")'
                     style="float: left; margin-right: 8px; width: 140px; height: 180px; display: block;"/>
                <br/>
                <button>Update Photo</button>
            </div>
            <div>
                <h3 class='title'>$news.title</h3>
            </div>
        </div>
    </div>

    <div class="full_content" style="clear;">
        $news.content
    </div>

    <img src='#springUrl("/images/hr.png")'/>
</div>

<script type="text/javascript">
    $("#form_upload_title_picture").ajaxForm({
        url:"#springUrl("/admin/ajax/news/picture/upload/${news.id}.html")",
        type:"POST",
        dataType:"json",
        success:function (data) {
            if (data.result == true) {
                var photo_title = $("#photo_title");
                photo_title.hide();
                photo_title.attr("src", '#springUrl("/news/thumb/${news.id}.html?width=120&t=")' + new Date());
                photo_title.fadeIn("slow");
            }
        }
    });
</script>
</body>
</html>
