<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <span>TKPSDA</span>
        &#187;
        <a href="#springUrl("/admin/tkpsda/dokumentasi/list.html")">Dokumentasi</a>
        &#187;
        <a href="#springUrl("/admin/tkpsda/dokumentasi/${dokumentasi.id}/photo/list.html")">Photo</a>
        &#187;
        <span>Form</span>
    </title>
</head>
<body>
<div id="jadwal_sidang">
    <div>
        #springBind("form")
        #if ($status.getErrors().getErrorCount() > 0)
            <ul class='error'>
                #foreach($error in $status.errorMessages)
                    <li>$error</li>
                #end
            </ul>
        #end


        <form method='post' enctype="multipart/form-data">
            <table style='width: 95%;'>
                <tr>
                    <td style="width: 140px;" class="label">Judul</td>
                    <td>#springFormTextarea("form.title", "style='width: 700px;' class='text'")</td>
                </tr>
                <tr>
                    <td>File</td>
                    <td>
                        <input type="file" name="file"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="submit" name='submit_action' class="button"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>
