#banner img.logo {
  float: left;
  margin-right: 16px;
  box-shadow: 0px 0px 5px #376ea6;
  margin-top: -2px; }
#banner h1 {
  display: block;
  margin-bottom: 2px;
  font-family: Signika;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 6px;
  text-shadow: 1px -1px 5px black; }
#banner h2 {
  display: block;
  margin: 0px;
  font-family: Signika;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px -1px 4px black; }
#banner h3 {
  display: block;
  margin: 0px 0px 0px 0px;
  font-family: Signika;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px -1px 4px black; }
