#content {
  margin: 0px 0px 32px 0px;
  padding: 4px 4px 10px 4px;
  width: 566px;
  font-family: "Signika", "Trebuchet MS", Helvetica, Arial;
  font-size: 12px;
  float: left;
  border: none; }
  #content > h1 {
    margin: 0px 0px 0px 0px;
    padding: 6px 4px 6px 8px;
    display: block;
    border: 0px solid white;
    background: #295876;
    border-radius: 3px;
    color: #666666;
    font-family: "Signika", "Trebuchet MS", Helvetica, Arial;
    font-size: 14px;
    font-weight: normal;
    color: white;
    text-shadow: 3px 2px 2px #333333; }
    #content > h1 img {
      float: left;
      padding: 2px; }
    #content > h1 span {
      display: inline-block;
      font-family: "Trebuchet MS", Verdana;
      font-size: 14px;
      font-weight: normal;
      color: #eeeeee;
      letter-spacing: 0px;
      padding: 2px 4px 2px 4px; }
    #content > h1 a {
      font-family: "Trebuchet MS", Verdana;
      font-size: 14px;
      font-weight: normal;
      color: #eeeeee;
      background: #496886;
      padding: 2px 4px 2px 4px;
      border-radius: 6px;
      letter-spacing: 0px; }
    #content > h1 a:hover {
      color: white;
      background: #597896;
      text-decoration: none; }
  #content > div {
    margin: 0px 0px 0px 0px;
    padding: 16px 8px 16px 8px; }
  #content h3 {
    font-family: Arial, "Trebuchet MS";
    font-size: 14px;
    margin: 12px 0px 8px 0px;
    padding: 2px 0px 2px 0px;
    text-align: center;
    color: #336699; }
  #content h4 {
    font-family: "Trebuchet MS";
    font-size: 13px;
    font-weight: bold;
    margin: 12px 0px 8px 0px;
    padding: 2px 0px 2px 0px;
    text-align: center;
    color: black;
    text-shadow: 0px 2px 2px #eeeeee; }
  #content table {
    margin-left: 0px; }
    #content table th {
      font-size: 12px;
      font-family: "Trebuchet MS", Verdana;
      font-weight: bold;
      text-align: left; }
    #content table td {
      padding: 2px 8px 4px 8px;
      vertical-align: top; }
  #content u {
    text-decoration: none;
    font-weight: bold;
    color: #f29e0c; }
  #content em {
    color: red;
    font-style: normal; }
  #content form {
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 0px; }
    #content form input[type=text] {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
      font-size: 12px;
      margin: 0px 2px 0px 2px;
      border: 1px solid #dddddd; }
    #content form input[type=text]:focus {
      border: 1px solid #3399cc;
      box-shadow: 0px 0px 2px #66aacc; }
    #content form input.button {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
      font-size: 12px;
      margin: 0px 16px 0px 2px; }
    #content form input[type=submit] {
      padding: 2px 4px 2px 4px;
      font-family: "Trebuchet MS";
      font-size: 12px;
      border: 1px solid #dddddd;
      background: whitesmoke;
      background: -moz-linear-gradient(top, #dddddd, whitesmoke);
      background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(whitesmoke));
      filter: progid:dximagetransform.microsoft.gradient(StartColorStr = '#DDD', EndColorStr = '#F5F5F5', GradientType = 0);
      border-radius: 4px;
      outline: none;
      color: black;
      min-width: 70px; }
    #content form textarea {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
      font-size: 12px;
      line-height: 24px;
      margin: 0px 16px 0px 2px;
      width: 85%; }
    #content form select {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
      font-size: 12px;
      margin: 0px 2px 0px 2px;
      border: 1px solid #dddddd;
      min-width: 40px; }
    #content form input[type=file] {
      font-family: "Trebuchet MS", "Helvetica", sans-serif;
      font-size: 12px;
      min-width: 70px; }
