#contact {
  margin: 16px;
  min-height: 200px; }
  #contact .logo {
    padding-top: 4px;
    display: inline-block;
    float: left;
    margin-right: 8px; }
  #contact .content {
    display: inline-block;
    border-left: 1px dotted #bfd4ea;
    padding-left: 16px; }
    #contact .content h2 {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 8px 0px;
      font-family: "Signika", sans-serif;
      font-size: 18px;
      font-weight: normal;
      color: #376ea6;
      letter-spacing: 0px;
      line-height: 32px;
      border-bottom: 1px solid #bfd4ea; }
    #contact .content p {
      display: block;
      font-family: Signika;
      font-size: 13px;
      line-height: 24px;
      color: #376ea6;
      margin: 0px 0px 0px 0px; }
      #contact .content p a {
        font-size: 12px;
        font-weight: bold;
        color: #376ea6;
        letter-spacing: 0px; }
