@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: 400;
  src: local("Signika"), url("http://localhost:18070/ekiosk/fonts/signika.woff") format("woff"); }

@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: 600;
  src: local("Signika-Semibold"), url("http://localhost:18070/ekiosk/fonts/signika-bold.woff") format("woff"); }

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url("http://localhost:18070/ekiosk/fonts/inconsolata-normal.woff") format("woff"); }

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: bold;
  src: local("Inconsolata Bold"), url("http://localhost:18070/ekiosk/fonts/inconsolata-bold.woff") format("woff"); }

@font-face {
  font-family: "Acme";
  font-style: normal;
  font-weight: 400;
  src: local("Acme"), url("http://localhost:18070/ekiosk/fonts/acme.woff") format("woff"); }
