#footer {
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 2px 5px;
  background: #224a63;
  font-family: "Signika"; }
  #footer .statistic {
    width: 290px;
    padding: 5px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
    background: #224a63;
    display: inline-block;
    color: white;
    border: none;
    float: left; }
    #footer .statistic h1 {
      font-size: 12px;
      font-family: Signika;
      font-weight: normal;
      padding-bottom: 3px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      letter-spacing: 1px; }
      #footer .statistic h1 img {
        float: left;
        margin-right: 4px; }
    #footer .statistic .content {
      margin: 5px 0px 0px 0px;
      color: white;
      padding: 0px 0px 0px 0px; }
      #footer .statistic .content th {
        padding: 2px 4px 2px 0px;
        font-size: 11px;
        font-weight: normal;
        text-align: left; }
        #footer .statistic .content th img {
          float: left; }
      #footer .statistic .content td {
        font-family: Inconsolata;
        padding: 2px 4px 2px 0px;
        font-size: 12px;
        font-weight: normal;
        vertical-align: top; }
        #footer .statistic .content td.num {
          text-align: right; }
        #footer .statistic .content td img {
          float: left;
          margin-right: 4px; }
  #footer .dev_team {
    width: 610px;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 0px 0px;
    color: white;
    display: inline-block;
    border: none;
    float: right; }
    #footer .dev_team h1 {
      font-size: 12px;
      font-family: Signika;
      font-weight: normal;
      padding-bottom: 3px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      letter-spacing: 1px;
      text-align: right; }
    #footer .dev_team .content {
      margin: 5px 0px 0px 0px;
      color: white;
      padding: 0px 0px 0px 0px;
      text-align: right;
      font-family: Inconsolata; }
      #footer .dev_team .content h2 {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 4px;
        line-height: 24px;
        text-align: right;
        margin-bottom: 5px; }
      #footer .dev_team .content h3 {
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: normal;
        line-height: 16px;
        text-align: right; }
      #footer .dev_team .content p {
        line-height: 16px;
        text-align: right;
        font-weight: normal;
        font-size: 12px;
        margin: 0px 0px 0px 0px; }
  #footer .footer {
    padding: 4px 0px 4px 0px;
    clear: both;
    text-align: center;
    display: block;
    width: 100%; }
