#news {
  margin-left: 8px; }
  #news .items {
    padding: 0px 0px 0px;
    margin: 0px 0px 0px; }
  #news .item {
    margin: 8px 0px 8px 0px;
    padding: 8px 0px 8px 0px;
    border-bottom: 1px dashed #dddddd; }
    #news .item:last-child {
      border: none; }
    #news .item h3 {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 8px 0px;
      font-family: "Signika", sans-serif;
      font-size: 16px;
      font-weight: normal;
      color: #376ea6;
      letter-spacing: 1px;
      display: block;
      text-align: left;
      text-shadow: 2px 1px 1px #dddddd; }
    #news .item .thumb {
      float: left;
      padding: 0px 0px 0px 0px;
      margin: 0px 8px 0px 0px;
      border: 3px solid white;
      box-shadow: 0px 0px 4px 4px #eeeeee;
      max-width: 400px; }
    #news .item .date {
      margin: 8px 0px 0px 0px;
      padding: 2px 5px 2px 5px;
      border-radius: 4px;
      color: #444444;
      background: #eeeeee;
      font-size: 11px;
      font-weight: bold;
      font-family: Signika;
      margin-top: 8px;
      margin-bottom: 8px;
      text-shadow: 1px 2px 2px white; }
    #news .item p {
      font-family: Signika;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      color: #333333;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0em;
      word-spacing: 0em;
      line-height: 22px;
      text-shadow: 2px 0px 0px #eeeeee;
      margin: 0px; }
    #news .item br {
      margin-bottom: 8px;
      display: block; }
    #news .item div.panel {
      margin: 0px;
      background: transparent;
      text-align: right; }
      #news .item div.panel a {
        margin: 0px 0px 0px 0px;
        padding: 0px 4px 0px 4px;
        font-size: 11px;
        font-weight: normal;
        line-height: 18px;
        color: #444444;
        vertical-align: top;
        border-radius: 4px;
        border: none;
        display: inline-block;
        letter-spacing: 0px;
        color: #376ea6;
        background: #edf4ff; }
        #news .item div.panel a:hover {
          background: #cde4ff; }
  #news td {
    padding: 0px 0px 0px 0px; }
  #news .comments .title {
    font-size: 14px;
    font-weight: bold;
    color: #006fcc;
    background: #f4f8fe;
    padding: 4px 4px 4px 4px;
    border-radius: 4px; }
  #news .comments ol {
    border: none; }
    #news .comments ol li {
      border: 1px solid #f4f8fe;
      vertical-align: top;
      padding: 4px 4px 4px 4px; }
  #news .comments form {
    padding-top: 6px;
    background: #f4f8fe; }
