#project ol {
  padding: 0px 2px 0px 12px; }
  #project ol li {
    padding: 0px 0px 0px 0px;
    margin: 8px 0px 8px 0px;
    border-bottom: 1px dotted #eeeeee; }
    #project ol li:last-child {
      border-bottom: none; }
    #project ol li a.title {
      display: block;
      font-size: 13px;
      line-height: 18px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      color: #3366dd;
      outline: none; }
      #project ol li a.title:hover {
        color: #1c46a8; }
    #project ol li p.description {
      margin-top: 12px;
      font-size: 12px;
      line-height: 18px;
      color: #333333; }
      #project ol li p.description img {
        max-width: 100px;
        float: left;
        margin-right: 12px; }
