#sidebar-left {
  position: relative;
  display: inline-block;
  width: 180px;
  margin: 0px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  background: #224a63;
  float: left; }
  #sidebar-left .main_menu {
    margin: 4px 4px 0px 4px;
    padding: 0px 0px 0px 0px; }
    #sidebar-left .main_menu a {
      font-family: "Trebuchet MS", sans-serif;
      display: block;
      font-size: 11px;
      font-weight: lighter;
      text-decoration: none;
      padding: 4px 0px 5px 4px;
      color: white;
      background: #295876;
      border-radius: 2px;
      border: 1px solid #306689;
      outline: none;
      margin-top: 3px;
      text-shadow: -2px 2px 2px #555555;
      letter-spacing: 0px; }
      #sidebar-left .main_menu a:hover {
        color: white;
        background: #396580;
        background-image: url("../../images/menu/arrow-orange.png");
        background-repeat: no-repeat;
        background-position: right center;
        text-shadow: -2px 2px 2px #333333; }
      #sidebar-left .main_menu a span.small {
        font-size: 9px; }
      #sidebar-left .main_menu a img {
        float: left; }
  #sidebar-left .leaflet {
    font-weight: bold;
    background: transparent;
    padding: 2px 0px 2px 0px;
    margin: 5px 0px 0px 0px;
    color: #666666;
    font-weight: normal;
    border: none;
    font-size: 12px;
    font-weight: bold; }
    #sidebar-left .leaflet h1 {
      margin: 3px 2px 2px 2px;
      padding: 3px 2px 5px 1px;
      display: block;
      text-align: left;
      font-weight: bold;
      background-image: linear-gradient(to top, #a37c0a, #ebb30e);
      background-repeat: repeat-x;
      border-radius: 3px; }
      #sidebar-left .leaflet h1 img {
        float: left;
        margin: 0px 6px 0px 2px;
        border-radius: 3px;
        background: black;
        padding: 3px 3px 2px 3px; }
      #sidebar-left .leaflet h1 span {
        padding-top: 2px;
        font-size: 12px;
        line-height: 16px;
        font-family: "Signika";
        text-align: left;
        font-weight: bold;
        color: white;
        letter-spacing: 1px;
        text-shadow: 0px 0px 4px #333333;
        display: inline-block; }
    #sidebar-left .leaflet .content {
      margin: 4px 2px 2px 2px;
      padding: 4px 3px 4px 3px;
      background: white;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-radius: 4px; }
      #sidebar-left .leaflet .content .items {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px; }
        #sidebar-left .leaflet .content .items a {
          display: block;
          clear: both;
          margin: 0px 0px 3px 0px;
          padding: 6px 4px 6px 4px;
          text-decoration: none;
          font-size: 12px;
          font-weight: normal;
          line-height: 14px;
          color: #333333;
          background: #f4f8ff;
          border: 1px solid #eff5ff;
          border-radius: 4px;
          text-shadow: 0px 0px 2px #dddddd; }
          #sidebar-left .leaflet .content .items a:hover {
            background: #eff5ff;
            border: 1px solid #eaf2ff;
            text-shadow: 0px 0px 3px #bbbbbb; }
          #sidebar-left .leaflet .content .items a img {
            float: left;
            margin-right: 5px;
            display: inline-block; }
          #sidebar-left .leaflet .content .items a img.filetype {
            margin: 0px 2px 2px 0px;
            display: inline;
            padding: 0px;
            float: right; }
      #sidebar-left .leaflet .content .footer {
        margin-top: 6px;
        margin-bottom: 4px;
        text-align: right; }
  #sidebar-left .calendar {
    font-weight: bold;
    background: transparent;
    padding: 2px 0px 2px 0px;
    margin: 5px 0px 0px 0px;
    color: #666666;
    font-weight: normal;
    border: none;
    font-size: 12px;
    font-weight: bold; }
    #sidebar-left .calendar h1 {
      margin: 3px 2px 2px 2px;
      padding: 3px 2px 5px 1px;
      display: block;
      text-align: left;
      font-weight: bold;
      background: #ebb30e;
      background-image: linear-gradient(to top, #a37c0a, #ebb30e);
      border-radius: 3px; }
      #sidebar-left .calendar h1 img {
        float: left;
        margin: 0px 6px 0px 2px;
        border-radius: 3px;
        background: black;
        padding: 3px 3px 2px 3px; }
      #sidebar-left .calendar h1 span {
        padding-top: 2px;
        font-size: 12px;
        line-height: 16px;
        font-family: "Signika";
        text-align: left;
        font-weight: bold;
        color: white;
        letter-spacing: 0px;
        text-shadow: 0px 0px 4px #333333;
        display: inline-block; }
    #sidebar-left .calendar .content {
      margin: 4px 2px 2px 2px;
      padding: 4px 3px 4px 3px;
      background: white;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-radius: 4px; }
      #sidebar-left .calendar .content .month_year {
        margin: 0px;
        padding: 4px 3px 0px 3px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 0px;
        background: #306689;
        display: block;
        height: 22px;
        color: white;
        text-align: center;
        font-family: Verdana;
        font-size: 8px;
        font-weight: bold; }
        #sidebar-left .calendar .content .month_year img {
          border: 1px solid rgba(0, 0, 0, 0.6);
          border: none;
          border-radius: 4px;
          padding: 0px;
          margin: 0px; }
          #sidebar-left .calendar .content .month_year img:hover {
            box-shadow: 0px 0px 5px #cccccc; }
        #sidebar-left .calendar .content .month_year span {
          padding-top: 4px;
          font-size: 10px; }
      #sidebar-left .calendar .content .summary {
        margin-top: 4px;
        padding: 2px;
        border-radius: 2px;
        background: white;
        color: #eb6110;
        font-size: 10px; }
      #sidebar-left .calendar .content .calendar_view {
        width: 100%; }
        #sidebar-left .calendar .content .calendar_view td {
          background: #cccccc;
          padding: 4px 0px 4px 0px;
          width: 25px;
          margin: 0px;
          text-align: center;
          font-size: 11px;
          font-weight: bold;
          /*border: 1px solid #f99a9c; */
          /*border: 1px solid #bbcfda; */
          /*border: 1px solid #CCC; */ }
          #sidebar-left .calendar .content .calendar_view td a {
            color: white;
            font-size: 11px;
            line-height: 11px;
            font-weight: bold;
            text-decoration: none;
            display: block; }
          #sidebar-left .calendar .content .calendar_view td.activity {
            color: white !important;
            background: #f0c425 !important;
            border: 0px solid #c2dcfd !important; }
            #sidebar-left .calendar .content .calendar_view td.activity:hover {
              color: white;
              background: #f09b25 !important; }
          #sidebar-left .calendar .content .calendar_view td.nameday {
            background: #306689;
            color: white; }
          #sidebar-left .calendar .content .calendar_view td.sunday {
            color: red;
            background: #fccacb; }
          #sidebar-left .calendar .content .calendar_view td.saturday {
            background: #e2f2fd;
            color: #37749c; }
          #sidebar-left .calendar .content .calendar_view td.workday {
            background: white;
            color: #333333; }
          #sidebar-left .calendar .content .calendar_view td span {
            color: black;
            font-size: 11px;
            cursor: default; }
            #sidebar-left .calendar .content .calendar_view td span.today {
              border: 2px solid #4e58ff;
              background: #b4ddff;
              border-radius: 4px;
              padding: 0px 2px 0px 2px;
              color: #4e58ff; }
            #sidebar-left .calendar .content .calendar_view td span.visible {
              opacity: 1; }
            #sidebar-left .calendar .content .calendar_view td span.blur {
              opacity: 0.25; }
  #sidebar-left .publication {
    font-weight: bold;
    background: transparent;
    padding: 2px 0px 2px 0px;
    margin: 5px 0px 0px 0px;
    color: #666666;
    font-weight: normal;
    border: none;
    font-size: 12px;
    font-weight: bold; }
    #sidebar-left .publication h1 {
      margin: 3px 2px 2px 2px;
      padding: 3px 2px 5px 1px;
      display: block;
      text-align: left;
      font-weight: bold;
      background-image: linear-gradient(to top, #a37c0a, #ebb30e);
      background-repeat: repeat-x;
      border-radius: 3px; }
      #sidebar-left .publication h1 img {
        float: left;
        margin: 0px 6px 0px 2px;
        border-radius: 3px;
        background: black;
        padding: 3px 3px 2px 3px; }
      #sidebar-left .publication h1 span {
        padding-top: 2px;
        font-size: 12px;
        line-height: 16px;
        font-family: "Signika";
        text-align: left;
        font-weight: bold;
        color: white;
        letter-spacing: 0px;
        text-shadow: 0px 0px 4px #333333;
        display: inline-block; }
    #sidebar-left .publication .content {
      margin: 4px 2px 2px 2px;
      padding: 4px 3px 4px 3px;
      background: white;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-radius: 4px; }
      #sidebar-left .publication .content .items {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px; }
        #sidebar-left .publication .content .items div {
          padding: 5px 4px 5px 4px;
          margin: 0px 4px 0px 4px;
          border-bottom: 1px dotted #cccccc; }
          #sidebar-left .publication .content .items div:last-child {
            border: none;
            margin-top: 4px; }
          #sidebar-left .publication .content .items div span.date {
            display: block;
            font-size: 11px;
            font-weight: normal; }
          #sidebar-left .publication .content .items div a {
            display: block;
            clear: both;
            margin: 4px 0px 4px 0px;
            padding: 0px 0px 0px 0px;
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
            line-height: 14px;
            color: #333333;
            background: white;
            text-shadow: 0px 0px 2px white; }
            #sidebar-left .publication .content .items div a:hover {
              color: #376ea6; }
            #sidebar-left .publication .content .items div a img {
              float: left;
              margin-right: 5px;
              display: inline-block; }
  #sidebar-left .guest_book_form {
    font-weight: bold;
    background: transparent;
    padding: 2px 0px 2px 0px;
    margin: 5px 0px 0px 0px;
    color: #666666;
    font-weight: normal;
    border: none;
    font-size: 12px;
    font-weight: bold; }
    #sidebar-left .guest_book_form h1 {
      margin: 3px 2px 2px 2px;
      padding: 3px 2px 5px 1px;
      display: block;
      text-align: left;
      font-weight: bold;
      background-image: linear-gradient(to top, #a37c0a, #ebb30e);
      background-repeat: repeat-x;
      border-radius: 3px; }
      #sidebar-left .guest_book_form h1 img {
        float: left;
        margin: 0px 6px 0px 2px;
        border-radius: 3px;
        background: black;
        padding: 3px 3px 2px 3px; }
      #sidebar-left .guest_book_form h1 span {
        padding-top: 2px;
        font-size: 12px;
        line-height: 16px;
        font-family: "Signika";
        text-align: left;
        font-weight: bold;
        color: white;
        letter-spacing: 0px;
        text-shadow: 0px 0px 4px #333333;
        display: inline-block; }
    #sidebar-left .guest_book_form .content {
      margin: 4px 2px 2px 2px;
      padding: 4px 3px 4px 3px;
      background: white;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-radius: 4px; }
      #sidebar-left .guest_book_form .content form {
        margin-left: 4px; }
        #sidebar-left .guest_book_form .content form label {
          display: block;
          margin: 6px 0px 1px 0px; }
        #sidebar-left .guest_book_form .content form input[type="text"], #sidebar-left .guest_book_form .content form textarea {
          width: 154px;
          margin-left: 0px;
          border-radius: 1px;
          border: 1px solid #cccccc;
          padding: 4px 2px 2px 2px;
          font-family: Signika; }
          #sidebar-left .guest_book_form .content form input[type="text"]:focus, #sidebar-left .guest_book_form .content form textarea:focus {
            box-shadow: 0px 0px 5px #aaaaaa;
            outline: none; }
        #sidebar-left .guest_book_form .content form textarea {
          height: 40px; }
        #sidebar-left .guest_book_form .content form input[type="submit"] {
          color: white;
          font-family: Signika;
          font-size: 11px;
          border-radius: 3px;
          border: 1px solid #4e94c1;
          background-repeat: repeat-x;
          background: #599bc5;
          background-image: linear-gradient(to top, #599bc5, #7fb2d3); }
          #sidebar-left .guest_book_form .content form input[type="submit"]:focused {
            box-shadow: 0px 0px 8px #aaaaaa; }
        #sidebar-left .guest_book_form .content form img {
          margin-left: 4px; }
