#tkpsda {
  margin: 12px auto 12px auto;
  margin: 12px auto 12px auto; }
  #tkpsda a.item {
    padding: 8px 4px 2px 4px;
    text-align: center;
    margin: 4px;
    width: 130px;
    display: block;
    border: 1px solid white;
    border-radius: 0px; }
    #tkpsda a.item:hover {
      text-decoration: none;
      background: #f2f2f2;
      border: 1px solid #eeeeee;
      border-radius: 0px; }
    #tkpsda a.item .img {
      color: #cccccc;
      height: 95px; }
  #tkpsda .item .title {
    color: #333333;
    padding: 4px 2px 2px 2px;
    margin: 2px 4px 2px 4px;
    font-size: 11px;
    text-shadow: 2px 2px 4px #cccccc;
    font-family: Tahoma, Arial, "Trebuchet MS", Arial, sans-serif;
    height: 30px;
    text-align: center;
    text-shadow: 2px 2px 3px white; }
  #tkpsda div.menu {
    text-align: center;
    font-size: 12px; }
    #tkpsda div.menu a {
      font-size: 12px;
      font-weight: normal;
      padding: 2px 4px 2px 4px;
      background: whitesmoke;
      border-radius: 2px; }
      #tkpsda div.menu a:hover {
        color: white;
        background: #336699; }
  #tkpsda table {
    border: 1px solid #eeeeee;
    border-collapse: collapse; }
    #tkpsda table.noborder {
      border: none; }
      #tkpsda table.noborder td {
        border: none; }
    #tkpsda table tr th {
      border-spacing: 3px;
      border: none;
      background: whitesmoke;
      color: black;
      padding: 4px 4px 4px 5px;
      font-size: 11px;
      font-weight: normal;
      border-radius: 0px; }
    #tkpsda table tr td {
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      border-left: none;
      border-right: none;
      padding: 5px 4px 4px 4px;
      background: white; }
    #tkpsda table td a {
      font-family: "Trebuchet MS";
      font-size: 12px;
      font-weight: normal;
      color: black;
      line-height: 16px;
      letter-spacing: 0px;
      outline: none; }
      #tkpsda table td a:hover {
        color: #3366aa; }
  #tkpsda .pnl_bottom {
    margin-top: 4px;
    text-align: right; }
    #tkpsda .pnl_bottom a {
      display: inline-block;
      border: 1px solid #f0f0f0;
      border-radius: 3px;
      padding: 2px 6px 2px 4px;
      color: #3366cc;
      background: whitesmoke; }
      #tkpsda .pnl_bottom a:hover {
        display: inline-block;
        border: 1px solid #f0f0f0;
        border-radius: 3px;
        padding: 2px 6px 2px 4px;
        color: #990000;
        background: #eeeeee; }
      #tkpsda .pnl_bottom a img {
        float: left; }
      #tkpsda .pnl_bottom a span {
        margin-left: 8px;
        font-size: 12px; }
  #tkpsda ol.list {
    border: none;
    margin: 0px 0px 6px 0px;
    list-style-position: inside; }
    #tkpsda ol.list li {
      border: none;
      margin: 0px 0px 6px 0px;
      vertical-align: top; }
      #tkpsda ol.list li > div {
        display: inline-block;
        vertical-align: top;
        width: 520px; }
        #tkpsda ol.list li > div a.title {
          margin-top: 3px;
          font-size: 14px;
          display: block;
          color: #3366aa;
          line-height: 18px;
          text-align: left; }
          #tkpsda ol.list li > div a.title:hover {
            text-decoration: underline;
            text-decoration-color: red; }

#tkpsda_dokumentasi div.item {
  padding: 0px;
  margin: 0px 0px 8px 0px;
  border: 1px solid #e4ebf5;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #eeeeee; }
#tkpsda_dokumentasi div.title {
  padding: 4px 8px 4px 8px;
  font-family: "Trebuchet MS", serif;
  font-size: 12px;
  font-weight: bold;
  display: block;
  color: #336699;
  background: #f9f9f9;
  border-bottom: 1px solid whitesmoke; }
#tkpsda_dokumentasi .picture_list {
  padding: 8px;
  margin-bottom: 16px; }
  #tkpsda_dokumentasi .picture_list img.thumb {
    padding: 4px 4px 4px 4px;
    margin: 4px 4px 4px 4px;
    box-shadow: 0px 0px 1px 1px #eeeeee; }
#tkpsda_dokumentasi div.footer {
  padding: 4px 8px 4px 8px;
  font-family: "Trebuchet MS", serif;
  font-size: 12px;
  color: #336699;
  border-top: 1px dashed #e4ebf5;
  background: #fcfcfc;
  text-align: right; }
