<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/16x16/site_url.png")'/> &nbsp;
        Media
    </title>
</head>
<body>
<div class="media">
    <h1>
        <img src="#springUrl("/images/16x16/media.png")"/>
        <span>
            Media
        </span>
    </h1>

    <div class="content">
        #foreach($link in $links)
            <div class="item">
                <a href="${link.url}">
                    <img src="#springUrl("/download/link/picture/${link.id}/${link.filename}")"/>
                    <span> ${link.description}</span>
                </a>
                <div class="clear"></div>
            </div>
        #end
    </div>
</div>
</body>
</html>
