/* Ticker Styling */
.ticker-wrapper.has-js {
  margin: 0px 0px 0px 0px;
  padding: 0px 5px;
  width: 905px;
  height: 32px;
  display: block;
  /*background-color: #f8f0db; */
  background-color: white;
  font-size: 0.75em;
  box-shadow: 0px 0px 3px #999999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 6px #cccccc; }

.ticker {
  width: 832px;
  height: 23px;
  display: block;
  position: relative;
  overflow: hidden;
  /*background-color: #f8f0db; */
  background-color: white;
  margin: 0px 0px 0px 0px; }

.ticker-title {
  padding: 6px 0px 0px 2px;
  color: #990000;
  font-weight: bold;
  /*background-color: #f8f0db; */
  background-color: white; }

.ticker-content {
  margin: 0px;
  padding-top: 9px;
  position: absolute;
  color: #1f527b;
  font-weight: bold;
  /*background-color: #f8f0db; */
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2em; }
  .ticker-content:focus {
    text-decoration: none; }
  .ticker-content a {
    text-decoration: none;
    color: #1f527b;
    text-shadow: 0px 0px 4px #cccccc; }
    .ticker-content a:hover {
      text-decoration: none;
      color: #336699;
      text-shadow: none; }

.ticker-swipe {
  padding-top: 9px;
  position: absolute;
  top: 0px;
  /*background-color: #f8f0db; */
  background-color: white;
  display: block;
  width: 915px;
  height: 23px; }
  .ticker-swipe span {
    margin-left: 1px;
    /*background-color: #f8f0db; */
    background-color: white;
    border-bottom: 1px solid #1f527b;
    height: 12px;
    width: 7px;
    display: block; }

.ticker-controls {
  padding: 8px 0px 0px 0px;
  list-style-type: none;
  float: left; }
  .ticker-controls li {
    padding: 0px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
    height: 16px;
    width: 16px;
    display: block; }
    .ticker-controls li.jnt-play-pause {
      background-image: url("../images/controls.png");
      background-position: 32px 16px; }
      .ticker-controls li.jnt-play-pause.over {
        background-position: 32px 32px; }
      .ticker-controls li.jnt-play-pause.down {
        background-position: 32px 0px; }
      .ticker-controls li.jnt-play-pause.paused {
        background-image: url("../images/controls.png");
        background-position: 48px 16px; }
        .ticker-controls li.jnt-play-pause.paused.over {
          background-position: 48px 32px; }
        .ticker-controls li.jnt-play-pause.paused.down {
          background-position: 48px 0px; }
    .ticker-controls li.jnt-prev {
      background-image: url("../images/controls.png");
      background-position: 0px 16px; }
      .ticker-controls li.jnt-prev.over {
        background-position: 0px 32px; }
      .ticker-controls li.jnt-prev.down {
        background-position: 0px 0px; }
    .ticker-controls li.jnt-next {
      background-image: url("../images/controls.png");
      background-position: 16px 16px; }
      .ticker-controls li.jnt-next.over {
        background-position: 16px 32px; }
      .ticker-controls li.jnt-next.down {
        background-position: 16px 0px; }

.js-hidden {
  display: none; }

.no-js-news {
  padding: 10px 0px 0px 45px;
  color: #f8f0db; }

.left .ticker-swipe {
  /*left: 80px; */ }
  .left .ticker-swipe .ticker-controls, .left .ticker-swipe .ticker-content, .left .ticker-swipe .ticker-title, .left .ticker-swipe .ticker {
    float: left; }
  .left .ticker-swipe .ticker-controls {
    padding-left: 0px; }

.right .ticker-swipe {
  /*right: 80px; */ }
  .right .ticker-swipe .ticker-controls, .right .ticker-swipe .ticker-content, .right .ticker-swipe .ticker-title, .right .ticker-swipe .ticker {
    float: right; }
  .right .ticker-swipe .ticker-controls {
    padding-right: 0px; }
