<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <a href="#springUrl("/sda.html")">Data SDA</a>
        &#187;
        <span>Air Tanah</span>
    </title>
</head>
<body>


<div id="sda_content">
    <h3 style="display: block;  border-bottom: 1px dotted #EEE; ">
        DATA AIR TANAH
    </h3>

    <br/>

    <div class="jquery_foldertree"
         style="border: 1px solid #EEE;  padding: 8px; width: 540px; margin: 0px auto 0px auto; border-radius: 4px;">
        <div class="title">
            Data Air Tanah :
        </div>

        #foreach($entry in $dataAirTanah.entrySet())
            <div class="folder">
                <span class="label">
                    WS $entry.key.name
                </span>

                <div class="children">
                    #foreach($airTanah in $entry.value)
                        <div class="item">
                            <span class="label">${airTanah.description}
                                <a href="#springUrl("/download/sda/air_tanah/${airTanah.id}/${airTanah.filename}")"
                                   style="float: right;" target="_blank">
                                    <img src="#springUrl("/images/16x16/download.png")"/>
                                </a>
                            </span>
                        </div>
                    #end
                    #if ($entryYear.value.size() == 0)
                        <div class="item">
                            <span class="empty">
                                .. data tidak tersedia ..
                            </span>
                        </div>
                    #end
                </div>
            </div>
        #end
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {
        $("div.jquery_foldertree div.folder > span.label").each(function () {
            $(this).click(function () {
                var children = $(this).siblings(".children");
                children.slideToggle();
            });
        });

        $("div.jquery_foldertree .children").each(function () {
            $(this).slideUp();
        });
    });

    // ]]>
</script>

</body>
</html>
