<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <a href="#springUrl("/admin/dokumentasi/list.html")">Dokumentasi</a>
        &#187;
        <span>Form</span>
    </title>
</head>
<body>
<div id="dokumentasi">
    <div>
        #springBind("form")
        #if ($status.getErrors().getErrorCount() > 0)
            <ul class='error'>
                #foreach($error in $status.errorMessages)
                    <li>$error</li>
                #end
            </ul>
        #end


        <form method="post">
            <table style='width: 95%;'>
                <tr>
                    <td style="width: 90px;" class="label">Judul</td>
                    <td>#springFormTextarea("form.title", "style='width: 700px;' class='text'")</td>
                </tr>
                <tr>
                    <td class="label">Tgl Publikasi</td>
                    <td>
                        #form_date("form.publishedDate.date", "")
                        #form_month("form.publishedDate.month", "")
                        #form_year("form.publishedDate.year", 2010, 2020, "")
                        <span>Jam:</span>
                        #form_hour("form.publishedDate.hour", "")
                        #form_minute("form.publishedDate.minute", "")
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="submit" name='submit_action' class="button"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
