<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <a href="#springUrl("/admin/sda/bendung/list.html")">Bendung</a>
        &#187;
        <a href="#springUrl("/admin/sda/bendung/list/${ws.id}.html")">${ws.name}</a>
        &#187;
        <span>Form Data Bendung</span>
    </title>
</head>
<body>
<div id="bendung">
    <div>
        #springBind("form")
        #if ($status.getErrors().getErrorCount() > 0)
            <ul class='error'>
                #foreach($error in $status.errorMessages)
                    <li>$error</li>
                #end
            </ul>
        #end


        <form method="post" enctype="multipart/form-data">
            <table style='width: 95%;'>
                <col style="width: 120px;"/>
                <tr>
                    <td class="label">Nama Bendung</td>
                    <td>
                        <input type="text" class="text" style="width: 500px;" value="$!esc.html($form.name)"
                               name="name"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">Keterangan</td>
                    <td>
                        <textarea class="text" style="width: 500px; height: 40px;"
                                  name="description">$!esc.html($form.description)</textarea>
                    </td>
                </tr>
                
                <tr>
                    <td class="label">Link Peta</td>
                    <td>
                        <input type="text" class="text" style="width: 500px;" value="$!esc.html($form.mapUrl)"
                               name="mapUrl"/>
                    </td>
                </tr>
                <tr>
                    <td class='label'>DAS</td>
                    <td>
                        <select name="das">
                            <option value="">-</option>

                            #foreach($das in $listDas)
                                #if ($das.id == $form.das)
                                    <option value="${das.id}" selected="selected">${das.name}</option>
                                #else
                                    <option value="${das.id}">${das.name}</option>
                                #end
                            #end
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">File</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="submit" name='submit_action' class="button"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
