#ffws > div {
  text-align: center;
  width: 200px;
  margin: 8px auto 8px auto; }
  #ffws > div .status {
    text-align: center; }
    #ffws > div .status span {
      display: block;
      font-family: "Trebuchet MS";
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid whitesmoke; }
  #ffws > div button {
    color: white;
    text-shadow: 1px 1px 2px black;
    border: 1px solid #366ba1;
    border-radius: 7px;
    width: 200px;
    height: 40px;
    margin: 4px 4px 2px 4px;
    background-color: #336699;
    background-image: linear-gradient(to top, #376ea4, #3973ac); }
    #ffws > div button:hover {
      box-shadow: 0px 0px 12px #336699; }
    #ffws > div button.disabled {
      box-shadow: none;
      color: #cccccc;
      border: 1px solid #366ba1;
      background-color: #336699;
      background-image: linear-gradient(to top, #2d5986, #306191); }
