.page_index {
  background: transparent;
  margin-bottom: 4px;
  text-align: right; }
  .page_index a {
    color: white;
    background: #dddddd;
    border-radius: 4px;
    padding: 1px 1px 1px 1px;
    min-width: 18px;
    text-align: center;
    display: inline-block;
    line-height: 18px;
    margin-left: 4px;
    text-shadow: 0px 1px 4px #666666;
    font-size: 11px; }
    .page_index a:hover {
      color: white;
      background: #aaaaaa; }

.paging {
  background: transparent;
  margin-bottom: 4px;
  text-align: right; }
  .paging a {
    color: white;
    background: #dddddd;
    border-radius: 4px;
    padding: 1px 1px 1px 1px;
    min-width: 18px;
    text-align: center;
    display: inline-block;
    line-height: 18px;
    margin-left: 4px;
    text-shadow: 0px 1px 4px #666666;
    font-size: 11px; }
    .paging a:last-child {
      margin-left: 0px; }
    .paging a:hover {
      color: white;
      background: #aaaaaa; }
    .paging a:disabled {
      color: white;
      background: #999999; }
    .paging a.current {
      color: white;
      background: #0a76b5;
      text-shadow: none; }
