#macro(paging $pages $keyword)
<div class='paging'>
    #if ($current != 1)
        <a href='#springUrl("/admin/news/1.html?keyword=$!{keyword}")'>
            &laquo;&laquo;
        </a>
        #set($previous = $current - 1)
        <a href='#springUrl("/admin/news/${previous}.html?keyword=$!{keyword}")'>
            &laquo;
        </a>
    #else
        <a>&laquo;&laquo;</a>
        <a>&laquo;</a>
    #end

    #foreach($page in $pages)
        #if ($page == $current)
            <a href='#springUrl("/admin/news/${page}.html?keyword=$!{keyword}")' class="current">$page</a>
        #else
            <a href='#springUrl("/admin/news/${page}.html?keyword=$!{keyword}")' class="page">$page</a>
        #end
    #end
    #if ($current != $last)
        #set($next = $current + 1)
        <a href='#springUrl("/admin/news/${next}.html?keyword=$!{keyword}")'>
            &raquo;
        </a>
        <a href='#springUrl("/admin/news/${last}.html?keyword=$!{keyword}")'>
            &raquo;&raquo;
        </a>
    #else
        <a>&raquo;</a>
        <a>&raquo;&raquo;</a>
    #end
</div>
#end

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/16x16/news.png")'/> &nbsp;
        <span>Berita</span>
    </title>
</head>
<body>
<div id="news">
    <form action='#springUrl("/admin/news.html")' style="margin-top: 4px;" id="form_search">
        Kata kunci: &nbsp;<input type='text' name='keyword' value='$!{keyword}' class='text'/>
        <input type='submit' value='cari'/>
    </form>
    <div>
        <span class="info">
            <img src="#springUrl("/images/16x16/table_row_select.png")"/>
            Ditemukan $count data.
        </span>
        #paging($pages, $keyword)
    </div>

    <form id="news_list" method="post" action="#springUrl("/admin/news/manage.html")">
        <table>
            <colgroup style="width: 20px"/>
            <colgroup style="width: 20px"/>
            <colgroup style="width: 20px"/>
            <colgroup style="width: 20px"/>
            <colgroup style="width: 720px;"/>
            <colgroup style="width: 20px"/>
            <colgroup style="width: 120px;"/>
            <colgroup style="width: 175px"/>
            <thead>
            <tr>
                <th>No.</th>
                <th>
                    <input type='checkbox' name="ids_all" class="select_all"/>
                </th>
                <th>ID</th>
                <th></th>
                <th>Judul</th>
                <th></th>
                <th>Tgl Publikasi</th>
                <th>
                    <a href='#springUrl("/admin/news/add.html")' class='button'>
                        baru
                    </a>
                </th>
            </tr>
            </thead>
            #set($row = $start_row + 1)
            #foreach ($news in $newsList)
                <tr>

                    <td style="width: 24px;">${row}.</td>
                    <td>
                        <input type='checkbox' name='ids' value='$news.id'/>
                    </td>
                    <td>
                    <span class="text_id">
                        ${news.id}
                    </span>
                    </td>

                    <td class="cont_image">
                        #if ($news.photoFilename)
                            <img src="#springUrl("/download/news/photo/${news.id}/${news.photoFilename}")"
                                 style="max-width: 40px;"
                                 rel="#springUrl("/download/news/photo/${news.id}/${news.photoFilename}")"/>
                        #end
                    </td>

                    <td class="short_content">
                        <a href='#springUrl("/news/full/${news.id}.html")' target="_blank">
                            $news.title
                        </a>

                        <p>$news.shortDescription</p>
                    </td>
                    <td>
                        #if(${news.published})
                            <img src="#springUrl("/images/16x16/news_published.png")"/>
                        #else
                            <img src="#springUrl("/images/16x16/news_not_published.png")"/>
                        #end
                    </td>
                    <td>
                        #if(${news.published})
                            <span class='date'>$dateTimeTool.format($news.publishedDate)</span>
                        #end
                    </td>
                    <td>
                        #if ($news.photoFilename)
                            #set($class = "confirm")
                        #else
                            #set($class = "disabled")
                        #end

                        <a href="#springUrl("/admin/news/${news.id}/photo/clear.html")?keyword=${keyword}&page=${current}"
                           class="button clear ${class}">clear</a>

                        <a href="#springUrl("/admin/popup/news/picture/upload/${news.id}.html")"
                           class="upload button" title="${news.id}">upload</a>

                        <a href='#springUrl("/admin/news/edit/${news.id}.html")' class='button'>
                            edit
                        </a>
                    </td>
                </tr>
                #set($row = $row + 1)
            #end
            <tfoot>
            <tr>
                <td></td>
                <td>
                    <input type='checkbox' name="ids_all" class="select_all"/>
                </td>
                <td colspan="6">
                    <input type="hidden" name="page" value="${current}"/>
                    <input type="hidden" name="keyword" value="${keyword}"/>

                    <input type="submit" name="publish" value="Publish"/>
                    <input type="submit" name="unpublish" value="Unpublish"/>
                    <input type="submit" name="ticker" value="Tambah ke Ticker"/>
                    &nbsp;&nbsp;
                    <input type="submit" name="remove" value="Hapus"/>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>

    <div>
        <span class="info">
            <img src="#springUrl("/images/16x16/table_row_select.png")"/>
            Ditemukan $count data.
        </span>
        #paging($pages, $keyword)
    </div>
</div>
<script type="text/html" id="thumb_template">
    <![CDATA[
    <img src="#springUrl("/download/news/photo/")/<%= this.id %>/<%= this.filename %>" style="max-width: 40px;"/>
    ]]>
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("input[type=checkbox].select_all").click(function () {
            var checked = $(this).prop("checked");
            $("#news_list table input[type=checkbox]").attr("checked", checked);
        });

        $("a.clear").clickConfirm({
            position:"bottom",
            questionText:"Kosongkan photo headline berita ?",
            onProceed:function () {
                $("#form_remove_message").submit();
            }
        });

        $("td.cont_image img").tooltip({
            delay:0,
            showURL:false,
            bodyHandler:function () {
                return $("<img/>").attr("src", this.src);
            }
        });

        $("#news_list a.disabled").click(function (e) {
            e.preventDefault();
        })

        $("#news_list a.upload").click(function () {
            var _this = this;
            jQuery.colorbox({
                "href":$(_this).attr("href"),
                "width":"460px",
                "height":"300px",
                "iframe":true,
                onClosed:function () {
                    var tr = $(_this).parentsUntil("tbody", "tr");
                    var td = $("td.cont_image", tr);
                    var id = $(_this).prop("title");
                    var url = "#springUrl("/json/news/photo/")" + id + "/info";
                    jQuery.getJSON(url, function (data) {
                        if (!data.empty) {
                            $(td).empty();
                            $($('#thumb_template').jqote(data))
                                    .appendTo(td)
                                    .tooltip({
                                        delay:0,
                                        showURL:false,
                                        bodyHandler:function () {
                                            return $("<img/>").attr("src", this.src);
                                        }
                                    });

                            $("a.clear", tr)
                                    .removeClass("disabled")
                                    .unbind("click");

                            $("a.clear", tr).clickConfirm({
                                position:"bottom",
                                questionText:"Kosongkan gambar headline pengumuman ?",
                                onProceed:function () {
                                    $("#form_remove_message").submit();
                                }
                            });
                        }
                    });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
