* {
    font-family: "Trebuchet MS", Helvetica, Arial;
    font-size: 12px;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
    font-family: "Trebuchet MS", Helvetica, Arial;
    font-size: 12px;
    color: #103446;
    background-color: #002233;
    background-image: url(../../images/bg.png);
    background-repeat: repeat;
    /*background-position: top left;*/
    /*background-attachment: fixed;*/
}

br {
    height: 1px;
}

h1, h2, h3, h4 {
    margin: 0px 0px 0px 0px;
}

h1 {
    letter-spacing: 0.1px;
    font-size: 35px;
}

a {
    color: #0000FF;
}

h2 {
    line-height: 14px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    color: #FFF;
}

h3 {
    margin: 0px 0px 0px 0px;
    color: #FFF;
}

td {
    padding: 8px 8px 8px 8px;
}

p, ul, ol {
    margin: 0 0 2em 0;
    text-align: justify;
    line-height: 26px;
}

a:link {
    color: #0094E0;
}

a:hover, a:active {
    text-decoration: none;
    color: #0094E0;
}

a:visited {
    color: #0094E0;
}

img {
    border: none;
}

img.left {
    float: left;
    margin: 7px 15px 0 0;
}

img.right {
    float: right;
    margin: 7px 0 0 15px;
}

/* Menu */

/* Header */

#header h1, #header h2, #header h3 {
    font-family: "Trebuchet MS";
    font-weight: normal;
}

#header h1 {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #ffc280;
}

/* Search */
#login {
    margin: -8px 0px 0px 0px;
    text-align: left;
    font-size: 12px;
    padding: 4px;
}

#login h2 {
    font-size: 14px;
    padding: 0px;
}

span.left {
    float: left;
}

.images_news {
    float: left;
    margin: 0px 16px 0px 0px;
    padding: 4px;
    border: 1px solid #E1E1E1;
}

.slide_caption {
    font-family: "Trebuchet MS";
    margin: 8px 4px 2px 4px;
    padding: 4px 4px 2px 4px;
    font-size: 11px;
    border-bottom: 1px solid #d2d8dc;
    color: #005193;
    background: #FFF;
    letter-spacing: 1pt;
}

.slide_caption:hover {
    background: #e5f2f9;
}

.slide_content {
    border: 1px solid #d2d8dc;
    margin: 0px 4px 8px 4px;
    padding: 2px 4px 2px 4px;
}

#content div.article_list {
    padding-left: 12px;
    border-left: 1px solid #b6deff;
}

#content table.no_border {
    border: none;
    padding: 4px;
    line-height: 14pt;
    margin: 0px 4px 4px 0px;
    vertical-align: top;
    font-size: 12px;
    color: #2f4c5d;
}

#content table.no_border td {
    border: none;
}

#content a.link, #content a.pdf, #sidebar-right a.link {
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    font-family: "Trebuchet MS";
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #496fcc;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #f4f8fe;
    border: 1px solid #dce7ec;
    display: inline-block;
}

#content a.link {
    padding-left: 24px;
    background-image: url(../../images/16x16/arrow_box_blue_right.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

#content a.pdf {
    padding-left: 24px;
    background-image: url(../../images/16x16/pdf.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

#content a.link img {
    float: left;
    margin: 0px 4px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#content a.link:hover, #sidebar-right a.link:hover {
    color: #ff8600;
    background: #fffbf5;
    border: 1px solid #ffcf85;
}

#content a.link:hover {
    background-image: url(../../images/16x16/arrow_box_blue_right.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    box-shadow: 0px 0px 4px #ffcf85;
}

#content div.right, #sidebar-right div.right {
    text-align: right;
    padding: 4px 4px 0px 4px;
    margin: 0px 0px 0px 0px;
    font-family: "Trebuchet MS";
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #99b0bd;
    vertical-align: top;
    background: #f4f8fe;
}

#content span.summary {
    margin: 0px 0px 0px 0px;
    font-family: "Trebuchet MS";
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #AAA;
    vertical-align: top;
    display: inline-block;
}

#content span.summary {
    font-size: 11px;
    font-weight: normal;
    color: #999;
}

ul.photo_list li {
    display: inline;
    margin-right: 8px;
}

ul.photo_list li img {
    display: inline-block;
    padding: 4px 4px 4px 4px;
    border: none;
}

#content div.clear {
    clear: both;
    height: 0px;
    display: block;
    border: none;
    background: transparent;
}

#content div.tab_title {
    color: #b5513e;
    font-size: 11px;
    font-weight: bold;
}

#btn_to_top {
    float: left;
    margin: 4px 4px 4px 4px;;
    padding: 0px 0px 0px 0px;
    text-align: center;
    opacity: 0.5;
}

#btn_to_top:hover {
    opacity: 1.0;
}

#btn_to_top img {
    display: block;
    padding: 0px 0px 0px 0px;
}

#stats {
    margin: 4px 4px 4px 4px;
    padding: 8px 4px 8px 4px;
    font-size: 12px;
    color: #37749c;
    border: 2px solid #c9e1ef;
    background: #FFF;
    border-radius: 4px;
}

#stats div.day {
    font-size: 10px;
    border-bottom: 2px solid #c9e1ef;
    text-align: center;
}

#stats div.info {
    display: block;
    margin: 8px 3px 4px 4px;
    background: #FFF;
    border-radius: 4px;
    color: #37749c;
    text-align: center;
}

#stats div.info img {
}

#stats div.info span {
    font-size: 12px;
    display: block;
}

