<div class="folder">
    <span class="label">
        ${dto.folder.name}
    </span>

    <div class="children">
        #if ($dto.children.size() == 0 && $dto.regulations.size() == 0)
            <div class="item">
                <span class="empty">
                    .. dokumen tidak tersedia ..
                </span>
            </div>
        #else
            #foreach($dto in ${dto.children})
                #parse("site/regulation/folder.vm")
            #end
            #foreach($regulation in ${dto.regulations})
                <div class="item">
                <span class="label">
                    ${regulation.title} tentang:
                    ${regulation.description}

                    <a href="#springUrl("/download/regulation/${regulation.id}/${regulation.filename}")"
                       style="float: right; display: inline;" target="_blank">
                        <img src="#springUrl("/images/16x16/download.png")"/>
                    </a>
                </span>
                </div>

            #end
        #end
    </div>
</div>


#macro(renderMap $stack)
    #set ($context = $stack.pop())
    #foreach($c in $context.get("data").keySet())
    <div class="folder">
        <span class="label">
            TEST TES TEST
            $!{c.name}
        </span>

        <div class="children">
            #if ($collectionsTool.isList($context.get("data").get($c)))
                #foreach($map in $context.get("data").get($c))
                    <div class="item_empty">
                    <span class="label">
                        <img src="#springUrl("/download/map/thumb/${map.id}/${map.filename}?width=40")"
                             data-thumbURL='#springUrl("/download/map/thumb/${map.id}/${map.filename}?width=240")'/>
                        $map.name
                        <a href='#springUrl("/download/map/${map.id}/${map.filename}")'
                           style="float: right; margin-left: 10px;" target="_blank">
                            <img src="#springUrl("/images/filetype/$fileTool.getFileTypeIcon($!{map.filename})")"/>
                        </a>
                     </span>
                    </div>
                #end
            #end

            #set($data = $context.get("data").get($c))
            $data
            #if ($collectionsTool.isMap($data))
                is MAP
                #set($temp = $context.get("data").get($c))
                #set ($context.data = $temp)

                $stack.push($context)
                $stack.push($newContext)
                #renderMap($stack)
                #set($context = $stack.pop())
            #end
        </div>
    </div>
    #end
#end