<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <title>
            <img src='#springUrl("/images/16x16/user.png")'/> &nbsp;
            <a href="#springUrl("/admin/user/list.html")">User</a>
            &#187;
            <span>Form</span>
        </title>
    </title>
</head>
<body>
<div id="user">
    <div>
        #springBind("form")
        #if ($status.getErrors().getErrorCount() > 0)
            <ul class='error'>
                #foreach($error in $status.errorMessages)
                    <li>$error</li>
                #end
            </ul>
        #end


        #if($user)
            #set($url = "/admin/user/edit/${user.id}.html")
        #else
            #set($url = "/admin/user/add.html")
        #end
        <form method="post" action="#springUrl("$url")">
            <table>
                <tr>
                    <td class='label'>Nama</td>
                    <td>#springFormInput("form.name", "style='width: 500px;' class='text'")</td>
                </tr>
                <tr>
                    <td class='label'>User ID</td>
                    <td>#springFormInput("form.userId", "style='width: 300px;' class='text'")</td>
                </tr>
                <tr>
                    <td class='label'>Password</td>
                    <td>
                        #springFormPasswordInput("form.password", "style='width: 300px;' class='text'")<br/>
                        <span class="note">
                            Entry user baru password harus diisi.<br/>
                            Edit user lama kosongkan jika tidak merubah password lama.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type='submit' value="submit"/></td>
                </tr>
            </table>
            <input type="hidden" name="page" value="$!{page}"/>
            <input type="hidden" name="keyword" value="$!{keyword}"/>
        </form>
    </div>
</div>
</body>
</html>
