<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        &nbsp;&nbsp; Wilayah Kerja
    </title>
</head>
<body>
<div id="profile">
    <h3>WILAYAH KERJA BBWS SERAYU OPAK</h3>
    <br/>
    <br/>

    <p>
        Wilayah kerja Balai Besar Wilayah Sungai Serayu Opak terdiri dari 14 Kabupaten/Kota yaitu Cilacap, Banyumas,
        Purbalingga, Banjarnegara, Wonosobo, Temanggung, Magelang, Purworejo, Kebumen, Kota Jogjakarta, Sleman, Bantul
        dan Gunung Kidul dan 18 Daerah Aliran Sungai (DAS) yaitu Donan, Serayu, Tipar, Ijo, Suwuk, Majingklak, Jemenar,
        Watu Gumulung, Jintung, Mangli, Telomoyo, Luk Ulo, Wawar, Cokroyasan, Bogowonto, Serang, Progo dan Opak.

        Luas total area wilayah sungai sebesar 12.337,85 Km<sup>2</sup> terdiri dari WS Serayu Bogowonto (SB) sebesar
        7.344 Km<sup>2</sup> dan
        WS Progo Opak Serang (POS) sebesar 4.993,85 Km<sup>2</sup>

    </p>

    <div style="text-align: center; margin: 8px 4px 8px 8px;">
        <a href='#springUrl("/images/wilayah_kerja/luas_wilayah_kerja.png")' class='pirobox_gall'
           title='Luas Wilayah Kerja BBWS Serayu Opak'>
            <img src="#springUrl("/images/wilayah_kerja/luas_wilayah_kerja.png")"  class="profile"/>
        </a>
    </div>

    <p>
        Secara Rinci wilayah kerja BBWS Serayu Opak digambarkan pada Gambar berikut ini :
    </p>

    <div style="text-align: center; margin-top: 8px;">
        <a href='#springUrl("/images/profile/wilayah_kerja_1.jpg")' class='pirobox_gall'
           title='Wilayah Sungai Serayu Bogowonto'>
            <img src='#springUrl("/images/profile/wilayah_kerja_1_small.jpg")' style="max-width: 400px;"
                 class="profile"/>
        </a>
        <span class='img_title'>Peta Wilayah Sungai Serayu Opak</span>
    </div>


    <br/>
    <h4>WS SERAYU BOGOWONTO</h4>

    <p>
        WS Serayu Bogowonto meliputi areal seluas 7.344 km² (termasuk lahan pasir) yaitu wilayah yang terletak di DAS
        Serayu (± 3.759 km²), DAS Donan (± 188 km²), DAS Ijo (± 317 km²), DAS Tipar (± 245 km²), DAS Telomoyo (± 516
        km²), DAS Luk Ulo (± 567 km²), DAS Wawar (± 765 km²), DAS Cokroyasan (± 402 km²) dan DAS Bogowonto (± 585 km²)
        yang mencakup 8 wilayah Administratif Kabupaten yaitu : Cilacap, Banyumas, Purbalingga, Banjarnegara, Wonosobo,
        Kebumen, Purworejo di Provinsi Jawa Tengah dan Kulon Progo di Provinsi D.I. Yogyakarta.
    </p>

    <p>
        Secara umum penggunaan lahan terbagi 2 yaitu pertanian (bagian hulu dan hilir), dan pemukiman (bagian hilir).
    </p>

    <div style="text-align: center; margin-top: 8px;">
        <a href='#springUrl("/images/wilayah_kerja/serbo.png")' class='pirobox_gall'
           title='Wilayah Sungai Serayu Bogowonto'>
            <img src='#springUrl("/images/wilayah_kerja/serbo.png")' style="max-width: 400px;"
                 class="profile"/>
        </a>
        <span class='img_title'>Peta Wilayah Sungai Serayu Bogowonto</span>
    </div>

    <br/>

    <h4>WS PROGO OPAK SERANG</h4>

    <p>
        Kondisi topografi WS Progo Opak Serang secara umum terdiri dari wilayah pegunungan dan dataran rendah. Luas
        wilayah Progo Opak Serang kurang lebih 4.993, 85 km2, meliputi, Provinsi DIY seluas 3.136,55 km2 dan Provinsi
        Jawa Tengah seluas 1.857,30 km2
    </p>

    <p>
        Penggunaan lahan secara umum terdiri atas lahan sawah (lahan basah) dan lahan non-sawah (lahan kering),
        industry, dll.
    </p>

    Potensi sumber daya air:
    <ol style="list-style: lower-alpha;">
        <li>Hujan</li>
        <li>Air Permukaan (S. Progo, S. Opak, S. Oyo, dan S. Serang)</li>
        <li>Air Tanah (CAT Progo, Opak, Oyo, Serang, dan Gunung Sewu)</li>
        <li>Sungai Bawah Tanah (Bribin, Seropan, Baron, dan Ngobaran)</li>
        <li>Waduk, embung, dan telaga.</li>
    </ol>

    <h4>WS Progo, Opak, Oyo</h4>
    Kondisi dari 4 sungai utama yang ada di dalam DAS Progo Opak Oyo adalah sebagai berikut:

    <ol style="list-style: lower-alpha">
        <li>
            Sungai Progo.
            <p>
                Debit rerata bulanan Sungai Progo yang tercatat di beberapa tempat yaitu di Kali Bawang 58,50 m³/dt dan
                di
                Duwet
                44,78m³/dt, di Badran 17,6 m³/dt dan Borobudur 30,30 m³/dt. Sedangkan debit maximum yang tercatat di
                Stasiun
                Duwet
                sebesar 213,00 m³/dt dan minimum sebesar 1,06 m³/dt.
                Di stasiun Kalibawang tercatat maksimum sebesr 331 m³/dt, dan minimum sebesar 12,00 m³/dt.Stasiun Badran
                maksimum
                103 m³/dt dan minimum 5,76 m³/dt, stasiun Borobudur maksimum 205 m³/dt dan minimum 6,56 m³/dt.
            </p>
        </li>

        <li>
            Sungai Opak
            <p>
                Debit rerata bulanan Sungai Opak yang tercatat di Karangsemut adalah sebesar 12.35 m³/dt, dengan debit
                maksimum sebesar 83,2 m³/dt dan minimum sebesar 1,89 m³/dt
            </p>

        </li>

        <li>Sungai Oyo
            <p>
                Debit rerata bulanan Sungai Oyo yang tercatat di AWLR Bunder adalah 9,31 m³/dt, dengan debit maksimum
                sebesar 128,0 m³/dt dan minimum sebesar 0,26 m³/dt.
            </p>
        </li>
        <li>
            Sungai Serang
            <p>
                Debit Rerata bulanan di Sungai Serang yaitu Durungan sebesar 10.83 m³/dt, dengan debit maksimum
                sebesar61,10
                m³/dt dan minimum sebesar 0,28 m³/dt.
            </p>
        </li>

    </ol>
    <br/>
    LAJU SEDIMENTASI

    <p>
        Berdasarkan Hasil studi yang dilakukan oleh PPLH UNS-Bappedal Provinsi Jawa Tengah pada tahun 2002 sedimentasi
        di Sub DAS Progo Hulu sebesar 0,890 mm/tahun, sedangkan rerata tingkat erosi yang terjadi di Sub DAS Progo Hulu
        sebesar 47,51 ron/ha/tahun. Sub DAS Opak sedimentasinya sebesar 0,549 mm/tahun, sedangkan besar erosinya 18,86
        ton/ha/th. Sud DAS Serang sedimentasinya sebesar 1,75 mm/tahun, sedangkan besar erosinya 59,67 ton/ha/th.
    </p>

    <div style="text-align: center; margin-top: 8px;">
        <a href='#springUrl("/images/wilayah_kerja/serang.png")' class='pirobox_gall'
           title='Wilayah Sungai Serayu Bogowonto'>
            <img src='#springUrl("/images/wilayah_kerja/serang.png")' style="max-width: 400px;"
                 class="profile"/>
        </a>
	<br/
        <span class='img_title'>Peta Wilayah Sungai Progo Opak Serang</span>
    </div>
    <br/>
    <img src='#springUrl("/images/hr.png")'/>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $().piroBox({
            my_speed:600,
            bg_alpha:0.5,
            radius:4,
            scrollImage:false,
            pirobox_next:'piro_next',
            pirobox_prev:'piro_prev',
            close_all:'.piro_close',
            slideShow:'slideshow',
            slideSpeed:3
        });
    });
</script>
</body>
</html>
