form.search {
    border: 1px solid #999;
    border-radius: 4px;
    width: 206px;
    overflow: hidden;
    background: #FFF;
}

form.search span {
    position: relative;
    display: inline-block;
    color: red;
}

form.search input[type="text"] {
    background: transparent;
    border: 0 none;
    float: left;
    font-family: "Trebuchet MS";
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    margin: 0;
    padding: 3px 4px 3px 4px;
    width: 168px;
}

form.search input[type="submit"] {
    background: transparent url(../images/22x22/search-blue.png);
    background-position: 4px 0px;
    background-repeat: no-repeat;
    border: none;
    height: 24px;
    line-height: 18px;
    margin: 0;
    text-indent: 100px;
    width: 26px;
}