@font-face {
    font-family: 'calibri';
    font-weight: 300;
    font-weight: bold;
    src: url("calibri.ttf");
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: bold;
    src: url("Muli-Regular.ttf");
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    src: url("Oswald.ttf");
}
