#macro(paging $pages $wilayahSungai $keyword)
<div class="page_index">
    #if ($pages.size() > 0)
        <a href='#springUrl("/admin/tkpsda/hasil_sidang/page/1.html?wilayahSungai=$!{wilayahSungai}&keyword=$!{keyword}")'>
            <img src="#springUrl("/images/16x16/go-first.png")" alt="1"/>
        </a>

        #set($prev = $current - 1)
        #if ($prev < 1)
            #set($prev = 1)
        #end
        <a href='#springUrl("/admin/tkpsda/hasil_sidang/page/${prev}.html?wilayahSungai=$!{wilayahSungai}&keyword=$!{keyword}")'>
            <img src="#springUrl("/images/16x16/go-previous.png")" alt="${prev}"/>
        </a>

        #foreach($page in $pages)

            #if ($page == $current)
                <a href='#springUrl("/admin/tkpsda/hasil_sidang/page/${page}.html?wilayahSungai=$!{wilayahSungai}&keyword=$!{keyword}")'
                   class="current">$page</a>
            #else
                <a href='#springUrl("/admin/tkpsda/hasil_sidang/page/${page}.html?wilayahSungai=$!{wilayahSungai}&keyword=$!{keyword}")'
                   class="page">$page</a>
            #end
        #end

        #set($next = $current + 1)
        #if ($next > $last)
            #set($next = $last)
        #end
        <a href='#springUrl("/admin/tkpsda/hasil_sidang/page/${next}.html?wilayahSungai=$!{wilayahSungai}&keyword=$!{keyword}")'>
            <img src="#springUrl("/images/16x16/go-next.png")" alt="${next}"/>
        </a>

        <a href='#springUrl("/admin/tkpsda/hasil_sidang/page/${last}.html?wilayahSungai=$!{wilayahSungai}&keyword=$!{keyword}")'>
            <img src="#springUrl("/images/16x16/go-last.png")" alt="${last}"/>
        </a>

    #end
</div>
#end<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <span>TKPSDA</span>
        &#187;
        <span>Hasil Sidang</span>
    </title>
</head>
<body>

<div id="jadwal_sidang">
    <div style="display: block;">
        <form action='#springUrl("/admin/tkpsda/hasil_sidang/list.html")'
              style="display: block; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">

            WS: <select id="wilayahSungai" name="wilayahSungai">
            <option value="">-- SEMUA --</option>
            #foreach($ws in ${wilayahSungaiList})
                #if ($form.wilayahSungai && $form.wilayahSungai == $ws.id)
                    <option value="$!{ws.id}" selected="selected">${ws.name}</option>
                #else
                    <option value="$!{ws.id}">${ws.name}</option>
                #end
            #end
        </select>
            &nbsp;&nbsp;
            Kata kunci:&nbsp;
            <input type='text' name='keyword' value='$!{form.keyword}' class='text'/>
            <input type='submit' value='cari'/>
        </form>
    </div>
    <div>
        <span class="info">
                <img src="#springUrl("/images/16x16/table_row_select.png")"/>
                Ditemukan ${count} data.
        </span>
        #paging($pages, ${form.wilayahSungai}, ${form.keyword})
    </div>
    <div>
        <form action="#springUrl("/admin/tkpsda/hasil_sidang/manage.html")" method="post">
            <table class="no_border" style="width: 100%">
                <col style="width: 20px"/>
                <col style="width: 20px"/>
                <col style="width: 20px"/>
                <col style="width: 840px;"/>
                <col style="width: 20px;"/>
                <col style="width: 60px;"/>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>
                        <input type='checkbox' name="ids_all" class="select_all"/>
                    </th>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>WS</th>
                    <th></th>
                    <th>
                        <a href='#springUrl("/admin/tkpsda/hasil_sidang/add.html")' class='button'>
                            baru
                        </a>
                    </th>
                </tr>
                </thead>
                #set($row = $start + 1)
                #foreach($item in $hasilSidangList)
                    <tr>
                        <td>${row}.</td>
                        <td>
                            <input type='checkbox' name='ids' value='${item.id}'/>
                        </td>
                        <td>
                             <span class="text_id">
                                 ${item.id}
                             </span>
                        </td>
                        <td class="short_content">
                            ${item.name}
                        </td>
                        <td>
                            $!{item.wilayahSungai.shortName}
                        </td>
                        <td>
                            #if($item.active)
                                <img src="#springUrl("/images/16x16/checkbox_checked.png")"/>
                            #else
                                <img src="#springUrl("/images/16x16/checkbox_unchecked.png")"/>
                            #end
                            <a href="#springUrl("/download/admin/tkpsda/hasil_sidang/${item.id}/$!{item.filename}")"
                               target="_blank">
                                <img src="#springUrl("/images/16x16/$fileTool.getFileTypeIcon(${item.filename})")"/>
                            </a>
                        </td>
                        <td>
                            <a href='#springUrl("/admin/tkpsda/hasil_sidang/edit/${item.id}.html")'
                               class='button edit'>
                                edit
                            </a>
                        </td>
                    </tr>
                    #set($row = $row + 1)
                #end
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <input type='checkbox' name="ids_all" class="select_all"/>
                    </td>
                    <td colspan="5">
                        <input type="hidden" name="wilayahSungai" value="$!{form.wilayahSungai}"/>
                        <input type="hidden" name="keyword" value="$!{form.keyword}"/>
                        <input type="hidden" name="page" value="${current}"/>

                        <input type="submit" name="remove" value="Hapus"/>
                        <input type="submit" name="publish" value="Publish"/>
                        <input type="submit" name="unpublish" value="Unpublish"/>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>

    <div>
        <span class="info">
                <img src="#springUrl("/images/16x16/table_row_select.png")"/>
                Ditemukan ${count} data.
        </span>
        #paging($pages, ${form.wilayahSungai}, ${form.keyword})
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {
        $("#bendungan a.popup").colorbox({width:"800px", height:"95%", iframe:true});

        $("#jadwal_sidang input[type=checkbox].select_all").click(function () {
            var checked = $(this).prop("checked");
            $("#jadwal_sidang table input[type=checkbox]").attr("checked", checked);
        });

        $("#jadwal_sidang a.remove").clickConfirm({
            position:"bottom",
            questionText:"Hapus data ?",
            followLinkOnProceed:false,
            onProceed:function (trigger) {
                var _url = $(trigger).attr("href");
                jQuery.get(_url,
                        function (data) {
                            if (data.result == true) {
                                var tr = $(trigger).parentsUntil("tbody");
                                tr.remove();
                            }
                        }
                );
            }
        });
    });
    // ]]>
</script>

</body>
</html>
