<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/16x16/gallery.png")'/> &nbsp;
        Dokumentasi
    </title>
</head>
<body>
<div id="dokumentasi">
    #paging($pages)

    #set($row = $start + 1)
    #set($classIndex = 1)
    
    #foreach ($dokumentasi in $dokumentasiData.keySet())
        <div class="item">
            #set($photoList = $dokumentasiData.get($dokumentasi))
            <div class="title">
                <span class="title">$!{dokumentasi.title}</span>
                <span class="info">
                    $!{photoList.size()} foto
                    &nbsp; | &nbsp;
                    $dateTimeTool.format(${dokumentasi.publishedDate}) WIB 
                </span>

                <div class="clear">&nbsp;</div>
            </div>
        ##            <div style='font-size: 10px;'>$dateTimeTool.format($!{dokumentasi.publishedDate})</div>
        ##                    <p>
        ##                        $dokumentasi.shortDescription
        ##                    </p>


            <div class="photo_list">
                #if ($pics && $pics.size() == 0)
                    <div style="color: #FF0000; padding: 8px;">
                        -- belum ada photo yang diupload --
                    </div>
                #else
                    #if ($photoList.size() > 1)
                        #set($className = "pirobox_gall_work${classIndex}")
                    #else
                        #set($className = "pirobox")
                    #end
                    #foreach($photo in $photoList)
                        <a href='#springUrl("/download/dokumentasi/photo/${photo.id}/${photo.filename}?")'
                           class="$className" title="$!{photo.title}">
                            <span>
                                <img src='#springUrl("/download/dokumentasi/photo/thumb/${photo.id}/${photo.filename}?width=120")'
                                    class='thumb'/>
                            </span>
                        </a>
                    #end
                #end
            </div>
        </div>
        #set($row = $row + 1)
        #set($classIndex = $classIndex + 1)
    #end
    #paging($pages)

    <img src='#springUrl("/images/hr.png")'/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $().piroBox({
            my_speed:600,
            bg_alpha:0.5,
            radius:4,
            scrollImage:false,
            pirobox_next:'piro_next',
            pirobox_prev:'piro_prev',
            close_all:'.piro_close',
            slideShow:'slideshow',
            slideSpeed:3
        });
    });
</script>

</body>
</html>
